extends layout.pug

block head_scripts
	block index_scripts

block head_styles
	link(rel="stylesheet",type="text/css",href="/static/css/index.css")

	block index_styles

block content
	nav
		div.logo
		h1 FNALANDIA
		input#buscar(placeholder="buscar",name="buscar")
		if usuario == undefined
			div#loginSection
				div#ingresar
					a(href="/ingresar") Ingresar
					form#ingresarForm
						input(name="usuario",placeholder="usuario")
						input(name="contrasenia",placeholder="contrasenia",type="password")
				a(href="/registrarse") Registrarse
		else
			div#userSection
				p=usuario.nombre
				a(href="/perfil/"+usuario.id)
					img.profilePic(src=usuario.profile_pic)
				a(href="/subir/")
					img(src="/static/img/subir.svg")
				a(href="/configuracion/")
					img(src="/static/img/config.svg")
				a(href="/salir/")
					img(src="/static/img/logout.svg")

	block index_content

	footer N&S®©™