extends index_layout.pug

block index_content
	div#content
		div#publicaciones
			each publicacion in publicaciones
				a.publicacion(href="#",style="background-image:url("+"static/img/"+publicacion.thumb+")")
					div.descripcion
						p.titulo=publicacion.titulo
						p.copete=publicacion.copete