<!DOCTYPE html>
html
	head
		title FNALANDIA
		
		<!-- STYLES -->
		link(rel="stylesheet",type="text/css",href="/static/css/estilo.css")
		block head_styles

		<!-- SCRIPTS -->
		script(src="/static/js/jquery-3.2.1.min.js")
		block head_scripts

	body
		block content
