<!DOCTYPE html>
html
	head
		title FNALANDIA
		
		<!-- STYLES -->
		block head_styles
		link(rel="stylesheet",type="text/css",href="static/css/estilo.css")

		<!-- SCRIPTS -->
		block head_scripts
		script(src="static/js/jquery-3.2.1.min.js")

	body
		block content
