head
	script(src="static/js/login.js","defer")
	link(rel="stylesheet",type="text/css",href="static/css/login.css")
body
	div.div-login
		div.marco-login
			div.div-login-inputs
				input(placeholder="Usuario")
				input("type"="password",placeholder="··············")
			button("type"="button") Ingresar