extends layout.pug

block head_styles
	link(rel="stylesheet",type="text/css",href="static/css/estilo.css")
	link(rel="stylesheet",type="text/css",href="static/css/login.css")

block head_scripts
	script(src="static/js/login.js","defer")
	script(src="https://www.google.com/recaptcha/api.js")

block content
	form(method="POST").div-login
	
		input.input-login(name="usuario",placeholder="Cuenta")
		input.input-login(name="pass","type"="password",placeholder="··············")
		div(class="g-recaptcha","data-sitekey"=sitekey)
		if errorAutenticacion
			div.errorAutenticacion Par de cuenta y contrase&ntilde;a incorrectos.	
		button("type"="submit") Ingresar
		a.registrarse(href="/registrarse") O Registrarse

	object.profilePic(data=profilePic,type="image/png")
		img.profilePic(src="static/img/placeholderProfile.svg")